SESSION_SECRET_KEY=<python -c "import secrets; print(secrets.token_hex(32))">
TOKEN_ENCRYPT_KEY=<python -c "import secrets; print(secrets.token_hex(32))">

REDIS_PASSWORD= <python -c "import secrets; import string; print(''.join(secrets.choice(string.ascii_letters + string.digits) for i in range(12)))">

S3_ACCESS_KEY = minioadmin
S3_SEKRET_KEY = minioadmin
