SESSION_SECRET_KEY=<python -c "import secrets; print(secrets.token_hex(32))">
TOKEN_ENCRYPT_KEY=<python -c "import secrets; print(secrets.token_hex(32))">

KEYCLOAK_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

REDIS_PASSWORD= <python -c "import secrets; import string; print(''.join(secrets.choice(string.ascii_letters + string.digits) for i in range(12)))">
REDIS_URL=redis://localhost:6379

AUTH_HOST=localhost
AUTH_PORT=8000

REPORTS_PORT=8001

YANDEX_CLIENT_ID=<https://oauth.yandex.ru/ -> your app -> ClientID>
YANDEX_CLIENT_SECRET=<https://oauth.yandex.ru/ -> your app -> Client secret>

TM_DB_URL='http://localhost:8181'
TM_DB_TOKEN_FILE="../telemetry_db/static_token.json"
TM_DB_DATA="../telemetry_db/data.csv"

AIRFLOW_KEY=<python -c "import secrets; print(secrets.token_urlsafe(64))">

CRM_CONNECTION_STR = "postgresql+asyncpg://crm_user:crm_password@localhost:5434/crm_db"

OLAP_CONNECTION_STR = "clickhouse://olap_user:olap_password@olap_db:8123/bionicpro"

S3_URL = http://localhost:9010
S3_ACCESS_KEY = minioadmin
S3_SEKRET_KEY = minioadmin

CDN_URL = http://localhost:8082
