SESSION_SECRET_KEY=<python -c "import secrets; print(secrets.token_hex(32))">
TOKEN_ENCRYPT_KEY=<python -c "import secrets; print(secrets.token_hex(32))">

KEYCLOAK_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

REDIS_PASSWORD= <python -c "import secrets; import string; print(''.join(secrets.choice(string.ascii_letters + string.digits) for i in range(12)))">
REDIS_URL=redis://localhost:6379

AUTH_HOST=localhost
AUTH_PORT=8000

REPORTS_PORT=8001
